<!DOCTYPE html>
<html>
	<head>
		<title>Orama</title>
		<!-- <link rel="shortcut icon" href="<%-root%>assets\Orma_logo.ico" /> -->

		<link
			type="text/css"
			href="<%-root%>build/css/Orama.css"
			rel="stylesheet"
		/>
	</head>
	<body class="mainBody">
		<main id="root" class="rootbackground"></main>
		<script src="<%-root%>build/bundle.js"></script>
		<div id="modal"></div>
	</body>
</html>
